# Phyton Einführung
## Unterüberschrift

*kursiv* **fett**
- Punkt 1
- Punkt 2

1.1. Erste Anweisung

In [1]:
print ("Hello world!")

Hello world!

1.2 Kommentare

In [2]:
# Das ist eine Kommentar
print ("something")

something

1.3 Einfache Datentypen

In [3]:
# Variable und Wertezuweisung
name = "Lovelace"
print(name)

Lovelace

In [4]:
# String - Zeichenkette
first_name = "Ada"
first_name

'Ada'

In [5]:
# Integer - Ganzzahl
age = 73
print(age)

73

In [6]:
# Float - Gleitkommazahl
size = 1.7123

In [7]:
knows_math = True
print(knows_math)

True

In [8]:
likes_slacking = False
print(likes_slacking)

False

In [9]:
type(name)

str

In [10]:
type(age)

int

In [11]:
type(size)

float

In [12]:
age_string = str(age)

In [13]:
type(age_string)

str

1.4 Operatoren

In [14]:
#Addition von Integers
5 + 5

10

In [15]:
#Multiplikation
age * 100

7300

In [16]:
name * 7

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [17]:
name + name

'LovelaceLovelace'

In [18]:
len(name)

8

In [19]:
print(name)
len(name)

Lovelace

8

In [20]:
name.upper()

'LOVELACE'

In [21]:
name_upper_case = name.upper()

In [22]:
name.count("a")

1

In [23]:
name.replace("lace", "is everywhere")

'Loveis everywhere'

In [24]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [25]:
print(another_name)

NameError: name 'another_name' is not defined

In [26]:
another_name = "peter"

In [27]:
print(another_name)

peter

1.6 Listen und Dictionaries

In [28]:
# Liste
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [29]:
names[2]

'Curie'

In [30]:
names [0]

'Lovelace'

In [31]:
names [3]

'Hawking'

In [32]:
names [-1]

'Hawking'

In [33]:
names [0:3]

['Lovelace', 'Darwin', 'Curie']

In [34]:
names [0:-1]

['Lovelace', 'Darwin', 'Curie']

In [36]:
names [0:3+1]

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [37]:
#slicing
names [:2]

['Lovelace', 'Darwin']

In [38]:
names[2:]

['Curie', 'Hawking']

In [39]:
#Dictionaries
authors_and_birth_years = {"Lovelace": 1882,
                           "Darwin": 1809, 
                           "Noether": 1882,
                          "Hawking": 1942}

In [40]:
authors_and_birth_years["Darwin"]

1809

Phyton Einführng

In [43]:
for last_name in names:
    print(last_name + " did awsome stuff.")
    print("----------------------")

Lovelace did awsome stuff.
----------------------
Darwin did awsome stuff.
----------------------
Curie did awsome stuff.
----------------------
Hawking did awsome stuff.
----------------------

In [44]:
authors_and_birth_years.keys()

dict_keys(['Lovelace', 'Darwin', 'Noether', 'Hawking'])

In [51]:
for key, value in authors_and_birth_years.items():
    print (key,value)

Lovelace 1882
Darwin 1809
Noether 1882
Hawking 1942

In [55]:
temp = 16
if temp > 15:
    print("It´s warm")

It´s warm

In [60]:
temp = 5
if temp > 25:
    print ("it´s hot")
elif temp > 15:
    print("it´s warm")
else: 
    print ("it´s cold")

it´s cold